body{
    margin:0;
    overflow-x:hidden;
    background:#add8e6;
    font-family: apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
svg{
    display:block;
    margin:30px auto 30px;
}
#enclose-card{
    background: white;
    border: 0.2px solid white;
    border-radius: 20px 20px 20px 0px;
    margin:auto;
    padding:30px;
}
#heading-text{
    color:#083e9e;
    font-size:19px;
    text-align:center;
}
#short-text{
    text-align:center;
    font-size:13px;
    color:#4a5568;
    
}
.label-text{
    font-weight:bold;
    font-size:13px;
}
.input-field{
    color:#1a202c;
    background-color: #edf2f7;
    border:1px solid #edf2f7;
    border-radius:4px;
    padding:15px 15px;
    width:100%;
    margin: 10px 0;
    box-sizing: border-box;
    display: inline-block;
}
.select-field{
    color:#1a202c;
    background-color: #edf2f7;
    border:1px solid #edf2f7;
    border-radius:4px;
    padding:15px 15px;
    width:100%;
    margin: 10px 0;
    box-sizing: border-box;
    display: inline-block;
}
.option-field{
    color:#1a202c;
    background-color: white;
    padding:10px 10px;
}
.label-div{
    margin-bottom:20px;
}
button{
    display:block;
    color:white;
    background-color:#083e9e;
    padding:18px 18px;
    border: 0.2px solid #083e9e;
    border-radius: 14px 14px 14px 0px;
    width:100%;
    font-size:19px;
    font-weight:bold;
}
a{
    color:white;
    font-size:13px;
    text-decoration:none;
}    
a:hover{
    color:#e2e8f0;
    text-decoration:none;
}
.link-text{
    text-align:center;
    margin:20px 55px;
}

/* responsiveness */
@media(min-width:500px){
    #enclose-card{width:400px;}
}
@media(max-width:500px){
    #enclose-card{width:80%;}
}